<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Tablero</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<header style="margin-bottom: 10px">
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoFacilitador">Inicio</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="row">
                <h3>Resultados de la Partida <%= idPartida %></h3>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Lugar</th>
                    <th scope="col">Icono</th>
                    <th scope="col">Equipo</th>
                </tr>
                </thead>
                <tbody>

                <% for(let i = 0; i < equipos.length; i++){ %>
                <tr>
                    <td>
                        <img id="lugar<%= i %>" src="../../../static/imagenes/lugar<%= (i + 1) %>.svg"
                             height="150" width="150">
                    </td>
                    <td>
                        <img id="lugar<%= i %>" src="../../../static/buho<%= (equipos[i].icono) %>.gif"
                             height="150" width="150">
                    </td>
                    <td><h3><%= equipos[i].nombre %></h3>
                    </td>
                </tr>

                <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <script>
        /*  var basicTimeline = anime.timeline();
          basicTimeline
              .add({
                  targets: '.equipo1.el',
                  translateX: 50,
              easing: 'easeOutExpo'
          })
          .add({
              targets: '.icono1',
              translateX: 50,
              easing: 'easeOutExpo'
          })
              .add({
                  targets: '.nombre1',
                  translateX: 50,
                  easing: 'easeOutExpo'
              })
              .add({
                  targets: '.equipo2.el',
                  translateX: 50,
                  easing: 'easeOutExpo'
              })
              .add({
                  targets: '.icono2',
                  translateX: 50,
                  easing: 'easeOutExpo'
              })
              .add({
                  targets: '.nombre2',
                  translateX: 50,
                  easing: 'easeOutExpo'
              });*/

    </script>
</body>
</html>