<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Resultados Partida</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Inicio</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <h3>Resultados de la partida <%= idPartida %></h3>
            </div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Lugar</th>
                    <th scope="col">Icono</th>
                    <th scope="col">Equipo</th>
                </tr>
                </thead>
                <tbody>

                <% for(let i = 0; i < equipos.length; i++){ %>
                <tr>
                    <td>
                        <img id="lugar<%= i %>" src="../../../static/imagenes/lugar<%= (i + 1) %>.svg"
                             height="150" width="150">
                    </td>
                    <td>
                        <img id="lugar<%= i %>" src="../../../static/buho<%= (equipos[i].icono) %>.gif"
                             height="150" width="150">
                    </td>
                    <td><h3><%= equipos[i].nombre %></h3>
                    </td>
                </tr>

                <% } %>

                </tbody>
            </table>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
</body>
</html>