<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Tablero</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<header>
    <% include ../../parciales/header %>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-10">
            <div class="row">
                <h3>Resultados de la Partida </h3>
            </div>
            <% let numeroEquipos = 2;
            for(let i = 0; i < numeroEquipos; i++){%>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-4">
                    <div class="equipo<%=(i+1)%> el">
                        <img id="lugar<%=i%>" src="../../../static/imagenes/lugar<%=(i+1)%>.svg"
                             height="150" width="150">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icono<%=(i+1)%> el">
                    <img id="lugar<%=i%>"  src="../../../static/buho<%=(i+1)%>.gif"
                         height="150" width="150">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nombre<%=(i+1)%> el">
                    <h3>Equipo <%=(i+1)%></h3>
                    </div>
                </div>
                </div>
            <%}%>
        </div>
        <div class="col-md-2"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.min.js"></script>
    <script>
  /*  var basicTimeline = anime.timeline();
    basicTimeline
        .add({
            targets: '.equipo1.el',
            translateX: 50,
        easing: 'easeOutExpo'
    })
    .add({
        targets: '.icono1',
        translateX: 50,
        easing: 'easeOutExpo'
    })
        .add({
            targets: '.nombre1',
            translateX: 50,
            easing: 'easeOutExpo'
        })
        .add({
            targets: '.equipo2.el',
            translateX: 50,
            easing: 'easeOutExpo'
        })
        .add({
            targets: '.icono2',
            translateX: 50,
            easing: 'easeOutExpo'
        })
        .add({
            targets: '.nombre2',
            translateX: 50,
            easing: 'easeOutExpo'
        });*/

</script>
</body>
</html>