<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <% include ../../parciales/head %>
    <title>Resultados de Emparejar</title>
</head>
<body>
<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoParticipante">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/ingresoParticipante">Temáticas</a></li>
        <li class="breadcrumb-item"><a href="/retosMateria?facilitador=<%= facilitador %>&materia=<%= materia %>">Desafíos</a>
        </li>
    </ol>
</nav>
<div class="container">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-12 text-center">
            <h3>Desafío de Emparejar Finalizado</h3>
        </div>
        <div class="col-md-6">
            <h4>Puntaje obtenido: <%= puntaje %></h4>
        </div>
        <div class="col-md-6">
            <% for(let i = 0; i < puntaje; i++)
            { %>
            <i class="fas fa-star fa-5x fa-spin " style="color:gold"></i>
            <% } %>
        </div>
    </div>
    <div class="row ">
        <div class="col-md-6" style="margin: 10px">
            <div class="row border border-info rounded">
                <h3 style="margin: 10px">Tus respuestas</h3>
            </div>
            <div class="row border border-info rounded" style="margin-top: 10px">
                    <% for(let i = 0; i < preguntas.length; i++)
                    { %>
                        <div class="col-md-12 " style="margin: 10px">
                        <div class="row">
                        <div class="col-md-3">
                            <button id="<%= preguntas[i].idPregunta %>" class="btn btn-outline-secondary" disabled
                                    onclick="obtenerId(this);">
                                <img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
                                     height="50" width="50">
                            </button>
                        </div>
                        <div class="col-md-7">
                            <%
                                console.log(respuestas)
                                var indice = respuestas.indexOf(preguntas[i].idPregunta);
                                console.log(indice);
                            %>

                            <button id="<%= respuestas[indice + 1] %>" class="btn btn-outline-secondary btn-block"
                                    disabled
                                    onclick="obtenerId(this);"><%= respuestas[indice + 1] %>
                            </button>
                        </div>
                        <div class="col-md-2">
                            <% if(puntajes[i] == 0)
                            { %>
                            <i class="far fa-3x fa-times-circle" style="color:red; margin-top: 10px"></i>
                            <% }
                            else
                            { %>
                            <i class="far fa-3x fa-check-circle" style="color:green; margin-top: 10px"></i>
                            <% } %>
                        </div>
                        </div>
                        </div>
                    <% } %>
                </div>
        </div>
        <div class="col-md-5" style="margin: 10px">
            <div class="row border border-info rounded">
                <h3 style="margin: 10px">Respuestas correctas</h3>
            </div>
            <div class="row border border-info rounded" style="margin-top: 10px">
                <% for(let i = 0; i < preguntas.length; i++)
                { %>
                <div class="col-md-12 " style="margin: 10px">
                    <div class="row">
                    <div class="col-md-6">
                        <button id="<%= preguntas[i].idPregunta %>" class="btn btn-outline-secondary" disabled
                                onclick="obtenerId(this);">
                            <img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
                                 height="50" width="50">
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button id="<%= preguntas[i].texto %>" class="btn btn-outline-secondary btn-block" disabled
                                onclick="obtenerId(this);"><%= preguntas[i].texto %>
                        </button>
                    </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form action="/retosMateria" method="post">
                <input type="text" name="facilitador" hidden value="<%= facilitador %>">
                <input type="text" name="materia" hidden value="<%= materia %>">
                <button class="btn btn-info" type="submit"><i class="fas fa-undo-alt"></i> Regresar a desafíos</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</body>
</html>