<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <% include ../parciales/head %>

    <title>Title</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<header>
    <% include ../parciales/headerEstudiante %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoParticipante">Inicio</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-6">
            <h2>Puntaje: <%= puntaje %></h2>
        </div>
        <div class="col-md-6">
            <% for(var i = 0; i < puntaje; i++)
            { %>
                <i class="fas fa-star fa-5x fa-spin " style="color:gold"></i>
            <% } %>
        </div>
    </div>

    <div class="row " style="margin-bottom: 10px">
        <div class="col-md-6 border border-info rounded"  style="margin-bottom: 10px">
            <h3>Pares encontrados</h3>
        </div>
        <div class="col-md-5 border border-info rounded" style="margin-left: 10px; margin-bottom: 10px" >
            <h3>Pares no encontrados</h3>
        </div>
        <div class="col-md-6 border border-info rounded">
            <% for(var i = 0; i < preguntas.length; i++)
            { %>
                <div class="row unir" style="margin-bottom: 10px">
                    <%
                        console.log(respuestas)
                    if(respuestas.indexOf(preguntas[i].texto)>=0)
                    {
                    %>
                    <div class="col-md-2">
                            <img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
                                 height="50" width="50">
                    </div>
                    <div class="col-md-10">
                       <label><%=preguntas[i].texto%></label>
                    </div>
                        <%}%>
                </div>
            <%}%>
        </div>
        <div class="col-md-5 border border-info rounded" style="margin-left: 10px" >
            <% for(var i = 0; i < preguntas.length; i++)
            { %>
            <div class="row unir" style="margin-bottom: 10px">
                <%if(respuestas.indexOf(preguntas[i].texto)<0)
                {
                %>
                    <div class="col-md-2">
                        <img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
                             height="50" width="50">
                    </div>
                    <div class="col-md-10">
                        <label><%=preguntas[i].texto%></label>
                    </div>
                <%}%>
            </div>
            <%}%>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <form action="/retosMateria" method="post">
                <input type="text" name="facilitador" hidden value="<%= facilitador %>">
                <input type="text" name="materia" hidden value="<%= materia %>">
                <button  class="btn btn-info" type="submit">Regresar a desafíos</button>
            </form>
        </div>
        <div class="col-md-4"> </div>

    </div>
</div>
</body>
</html>