<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Desafío Opción Múltiple</title>
</head>
<body>
<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoParticipante">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/ingresoParticipante">Temáticas</a></li>
        <li class="breadcrumb-item"><a href="/retosMateria?facilitador=<%= facilitador %>&materia=<%= materia %>">Desafíos</a>
        </li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"><h3>Pregunta <%= (contadorPreguntas + 1) %> - Opción Múltiple</h3></div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 ">
                    <form action="/mostrarOpcionMultiple" method="post">
                        <input type="text" hidden name="idPregunta" value="<%= preguntas[contadorPreguntas]._id %>">
                        <input type="text" hidden name="contadorPreguntas" value="<%= contadorPreguntas %>">
                        <input type="text" hidden name="materia" value="<%= materia %>">
                        <input type="text" hidden name="facilitador" value="<%= facilitador %>">
                        <input type="text" name="idIntento" value="<%= idIntento %>" hidden>
                        <input id="correctoIncorrecto" type="text" hidden name="correctoIncorrecto">
                        <input id="resSeleccionada" type="text" hidden name="resSeleccionada">
                        <div class="row border border-info rounded" >
                            <div class="col-md-10">
                                <h3 id="enunciado"><%= preguntas[contadorPreguntas].enunciado %></h3>
                                <input type="text" id="resCorrecta" hidden
                                       value="<%= preguntas[contadorPreguntas].respuestaCorrecta %>">
                            </div>
                            <div class="col-md-2">
                                <% if(preguntas[contadorPreguntas].imagenEnunciado) { %>
                                <img id="imagenEnunciado"
                                     src="<%= preguntas[contadorPreguntas].imagenEnunciado %>"
                                     class="img-rounded"
                                     height="50" width="50" style="margin-top: 10px">
                                <% } %>
                            </div>
                        </div>
                        <div class="row border border-info rounded" style="margin-top: 10px">
                                <% if(preguntas[contadorPreguntas].imagenRes1) { %>
                                    <div class="col-md-6 text-center">
                                        <button type="button" id="res1" class="btn btn-light" style="margin: 20px"
                                                onclick="validarRespuesta(this)">
                                            <img id="imagenRes1"
                                                 src="<%= preguntas[contadorPreguntas].imagenRes1 %>"
                                                 class="img-rounded" height="50" width="50">
                                        </button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="button" id="res2" class="btn btn-light" style="margin: 20px"
                                                onclick="validarRespuesta(this)">
                                            <img id="imagenRes2"
                                                 src="<%= preguntas[contadorPreguntas].imagenRes2 %>"
                                                 class="img-rounded" height="50" width="50">
                                        </button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="button" id="res3" class="btn btn-light" style="margin: 20px"
                                                onclick="validarRespuesta(this)">
                                            <img id="imagenRes3"
                                                 src="<%= preguntas[contadorPreguntas].imagenRes3 %>"
                                                 class="img-rounded" height="50" width="50">
                                        </button>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <button type="button" id="res4" class="btn btn-light" style="margin: 20px"
                                                onclick="validarRespuesta(this)">
                                            <img id="imagenRes4>"
                                                 src="<%= preguntas[contadorPreguntas].imagenRes4 %>"
                                                 class="img-rounded" height="50" width="50">
                                        </button>
                                    </div>
                                <% } else { %>
                                    <div class="col-md-12">
                                        <button type="button" id="res1" class="btn btn-light btn-block"
                                                style="margin-top: 10px; font-size:28px"
                                                onclick="validarRespuesta(this)"><%= preguntas[contadorPreguntas].res1 %>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" id="res2" class="btn btn-light btn-block"
                                                style="margin-top: 10px; font-size:28px"
                                                onclick="validarRespuesta(this)"><%= preguntas[contadorPreguntas].res2 %>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" id="res3" class="btn btn-light btn-block"
                                                style="margin-top: 10px; font-size:28px"
                                                onclick="validarRespuesta(this)"><%= preguntas[contadorPreguntas].res3 %>
                                        </button>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" id="res4" class="btn btn-light btn-block"
                                                style="margin-top: 10px; margin-bottom: 10px; font-size:28px"
                                                onclick="validarRespuesta(this)"><%= preguntas[contadorPreguntas].res4 %>
                                        </button>
                                    </div>
                                <% } %>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button type="submit" id="botonSiguiente" class="btn btn-success" disabled
                                        style="margin: 20px"><i class="fas fa-angle-right"></i> Siguiente Reto
                                </button>
                            </div>
                            <div class="col-md-4"></div>

                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
<script>
    let respuestaSeleccionada = 0;

    function validarRespuesta(boton) {

        if (boton.id == document.getElementById("resCorrecta").value) {
            document.getElementById(boton.id).classList.remove('btn-light');
            document.getElementById(boton.id).classList.add('btn-success');
            document.getElementById('correctoIncorrecto').value = "1";
        }
        else {
            document.getElementById(boton.id).classList.remove("btn-light");
            document.getElementById(boton.id).classList.add("btn-danger");
            document.getElementById(document.getElementById("resCorrecta").value).classList.remove("btn-light");
            document.getElementById(document.getElementById("resCorrecta").value).classList.add("btn-success");
            document.getElementById('correctoIncorrecto').value = "0";
        }
        document.getElementById('resSeleccionada').value = boton.id;
        respuestaSeleccionada = 1;
        bloquearBotones();
        document.getElementById("botonSiguiente").removeAttribute("disabled")
    }

    function bloquearBotones() {
        for (let i = 1; i < 5; i++) {
            document.getElementById("res" + i).setAttribute("disabled", "");
        }
    }
</script>
</body>
</html>