<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Retos</title>
</head>
<body>
<div class="opaco" style="margin-bottom: 10px">
<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb opacoCard border border-white">
        <li class="breadcrumb-item"><a href="/ingresoParticipante" class="textoBlanco">INICIO</a></li>
        <li class="breadcrumb-item"><a href="/ingresoParticipante" class="textoBlanco">TEMÁTICAS</a></li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row h-100">
                <div class="col-12 collapse d-md-flex h-100 opacoCard" id="sidebar">
                    <ul class="nav flex-column flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle collapsed textoBlanco" href="/ingresoFacilitador" data-toggle="collapse" data-target="#submenu1"><i class="fas fa-chalkboard-teacher"></i> FACILITADOR</a>
                            <div class="collapse" id="submenu1" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco" href="/ingresoFacilitador"><i class="fas fa-home" ></i> INICIO FACILITADOR</a></li>
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco" href="/estadisticas"><i class="fas fa-chart-bar"></i> ESTADÍSTICAS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  dropdown-toggle collapsed textoBlanco" href="/ingresoParticipante" data-toggle="collapse" data-target="#submenu2"><i class="fas fa-user"></i> PARTICIPANTE</a>
                            <div class="collapse show" id="submenu2" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0 btn-primary degradoBoton " href="/ingresoParticipante"><i class="fas fa-home"></i> INICIO PARTICIPANTE</a></li>
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco"  href="/ingresoPartida"><i class="fas fa-sign-in-alt"></i> UNIRSE A PARTIDA</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <table class="table table-hover opacoCard border border-white text-center">
                <thead>
                <tr>
                    <th scope="col" class="textoBlanco" style="text-transform: uppercase;">TIPO</th>
                    <th scope="col" class="textoBlanco" style="text-transform: uppercase;">NIVEL 1</th>
                    <th scope="col" class="textoBlanco" style="text-transform: uppercase;">NIVEL 2</th>
                    <th scope="col" class="textoBlanco" style="text-transform: uppercase;">NIVEL 3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="textoBlanco" style="text-transform: uppercase;">Opción Múltiple
                    </th>
                    <% for(let i = 0; i < 3; i++)
                    {
                    %>
                        <td>
                            <div class="card opacoCard">
                                <div class="card-body">
                                    <h5 class="card-title textoBlanco" style="text-transform: uppercase;">
                                        Desafío <%= i + 1 %>
                                        <% for(let j = 0; j < opcionMutiple[(i * 2) + 1]; j++){
                                        %>
                                            <i class="fas fa-star fa-sm fa-spin " style="color:gold"></i>
                                        <% } %>
                                        <% if(opcionMutiple[(i * 2) + 1] < 5){
                                        for(let a = opcionMutiple[(i * 2) + 1] ; a < 5; a++){
                                        %>
                                            <i class="fas fa-star fa-sm " style="color:gainsboro"></i>
                                        <% }
                                        } %>

                                    </h5>
                                    <form action="/retoOpcionMultiple" method="post">
                                        <input type="text" name="facilitador" value="<%= facilitador %>" hidden>
                                        <input type="text" name="materia" value="<%= materia %>" hidden>
                                        <input type="text" name="contadorPreguntas" value=-1 hidden>
                                        <% switch (i)
                                        {
                                        case 0: %>
                                        <input type="text" name="dificultad" value="Fácil" hidden>
                                        <%
                                            break;
                                        case 1: %>
                                        <input type="text" name="dificultad" value="Medio" hidden>
                                        <%
                                            break;
                                        case 2: %>
                                        <input type="text" name="dificultad" value="Difícil" hidden>
                                        <% break;
                                        } %>
                                        <button type="submit" class="btn btn-primary degradoBoton"><i class="fas fa-gamepad"></i>
                                            Jugar
                                        </button>
                                    </form>
                                    <p class="card-text textoBlanco" >Puntaje máximo: <%= opcionMutiple[(i * 2) + 1] %></p>
                                    <p class="card-text textoBlanco">Número de intentos: <%= opcionMutiple[(i * 2)] %></p>
                                </div>
                            </div>
                        </td>
                    <% } %>
                </tr>
                <tr>
                    <th scope="row" class="textoBlanco" style="text-transform: uppercase;">Emparejar</th>
                    <% for(var k = 0; k < 3; k++)
                    {
                    %>
                    <td>
                        <div class="card opacoCard">
                            <div class="card-body">
                                <h5 class="card-title textoBlanco" style="text-transform: uppercase;">
                                    Desafío <%= k + 1 %>
                                    <% for(var l = 0; l < emparejar[(k * 2) + 1]; l++){
                                    %>
                                    <i class="fas fa-star fa-sm fa-spin " style="color:gold"></i>
                                    <% } %>
                                    <% if(emparejar[(k * 2) + 1] < 5){
                                    for(var b = emparejar[(k * 2) + 1] ; b < 5; b++){
                                    %>
                                    <i class="fas fa-star fa-sm " style="color:gainsboro"></i>
                                    <% }
                                    } %>
                                </h5>

                                <form action="/retoEmparejar" method="post">
                                    <input type="text" name="facilitador" value="<%= facilitador %>" hidden>
                                    <input type="text" name="materia" value="<%= materia %>" hidden>
                                    <% switch (k)
                                    {
                                    case 0: %>
                                    <input type="text" name="dificultad" value="Fácil" hidden>
                                    <%
                                        break;
                                    case 1: %>
                                    <input type="text" name="dificultad" value="Medio" hidden>
                                    <%
                                        break;
                                    case 2: %>
                                    <input type="text" name="dificultad" value="Difícil" hidden>
                                    <% break;
                                    } %>
                                    <button type="submit" class="btn btn-primary degradoBoton"><i class="fas fa-gamepad"></i>
                                        Jugar
                                    </button>
                                </form>
                                <p class="card-text textoBlanco">Puntaje máximo: <%= emparejar[(k * 2) + 1] %></p>
                                <p class="card-text textoBlanco">Número de intentos: <%= emparejar[(k * 2)] %></p>
                            </div>
                        </div>
                    </td>
                    <% } %>
                </tr>
                <tr>
                    <th scope="row" class="textoBlanco" style="text-transform: uppercase;">Voltear</th>
                    <% for(var m = 0; m < 3; m++)
                    {
                    %>
                    <td>
                        <div class="card opacoCard">
                            <div class="card-body">
                                <h5 class="card-title textoBlanco" style="text-transform: uppercase;">
                                    Desafío <%= m + 1 %>
                                    <% for(var n = 0; n < unirVoltear[(m * 2) + 1]; n++){
                                    %>
                                    <i class="fas fa-star fa-sm fa-spin " style="color:gold"></i>
                                    <% } %>
                                    <% if(unirVoltear[(m * 2) + 1] < 5){
                                    for(var c = unirVoltear[(m * 2) + 1] ; c < 5; c++){
                                    %>
                                    <i class="fas fa-star fa-sm " style="color:gainsboro"></i>
                                    <% }
                                    } %>
                                </h5>
                                <form action="/retoUnirVoltear" method="post">
                                    <input type="text" name="facilitador" value="<%= facilitador %>" hidden>
                                    <input type="text" name="materia" value="<%= materia %>" hidden>
                                    <% switch (m)
                                    {
                                    case 0: %>
                                    <input type="text" name="dificultad" value="Fácil" hidden>
                                    <%
                                        break;
                                    case 1: %>
                                    <input type="text" name="dificultad" value="Medio" hidden>
                                    <%
                                        break;
                                    case 2: %>
                                    <input type="text" name="dificultad" value="Difícil" hidden>
                                    <% break;
                                    } %>
                                    <button type="submit" class="btn btn-primary degradoBoton"><i class="fas fa-gamepad"></i>
                                        Jugar
                                    </button>
                                </form>
                                <p class="card-text textoBlanco">Puntaje máximo: <%= unirVoltear[(m * 2) + 1] %></p>
                                <p class="card-text textoBlanco">Número de intentos: <%= unirVoltear[(m * 2)] %></p>
                            </div>
                        </div>
                    </td>
                    <% } %>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

    <footer>
        <% include ../../parciales/footer.ejs %>
    </footer>
</div>
</body>
</html>