<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <% include ../../parciales/head %>
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoFacilitador">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/estadisticas">Estadísticas</a></li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a href="/ingresoFacilitador"
                           class="nav-link " style="margin-bottom: 10px">
                            <i class="far fa-list-alt"></i> Modo Facilitador</a>
                        <a href="/ingresoParticipante"
                           class="nav-link" style="margin-bottom: 10px">
                            <i class="far fa-list-alt"></i> Modo Participante</a>
                        <a href="/estadisticas"
                           class="nav-link active" style="margin-bottom: 10px">
                            <i class="fas fa-chart-bar"></i> Estadísticas</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-12">
                    <h2>Preguntas de la temática <%= asignatura %></h2>
                </div>
            </div>
            <input type="text" id="numPreguntas" hidden value="<%= preguntas.length %>">
            <% for(let i = 0; i < preguntas.length; i++ ) { %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="margin-top: 10px">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>Pregunta: <%= (i + 1) %></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">

                                        <p><%=preguntas[i].enunciado %></p>
                                        <canvas id="myChart<%= (i + 1) %>" width="1000" height="150"
                                                class="chartjs-render-monitor"
                                                style="display: block; width: 1000px; height: 150px;"
                                                onclick="llenarDatos('myChart<%= (i + 1) %>',<%= preguntas[i].resCorrecta %>, <%= preguntas[i].resIncorrecta %>, <%= i %> )"></canvas>
                                    </div>
                                    <div class="col-md-2">
                                        <% if(preguntas[i].imagenEnunciado != undefined) { %>
                                            <img id="imagen<%= (i+1)%>" src='<%=preguntas[i].imagenEnunciado %>' width="50"
                                                 height="50"/>
                                        <% } %>
                                        <% if(preguntas[i].imagen != undefined ) { %>
                                            <img id="imagen<%= (i+1)%>" src='<%=preguntas[i].imagen %>' width="50" height="50"/>
                                        <% } %>
                                    </div>
                                    <div class="col-md-2 text-center" >
                                        <% if(preguntas[i].imagen != undefined) { %>
                                            <form action="/eliminarUnirVoltear" method="post">
                                                <input type="text" name="idPregunta" hidden
                                                       value=<%= preguntas[i].idPregunta %>>
                                                <input type="text" name="materia" hidden value=<%= asignatura %>>
                                                <br>
                                                <br>
                                                <button class="btn btn-default" type="submit"><i class="fas fa-trash-alt"></i>
                                                </button>
                                            </form>
                                        <% } else {%>
                                        <form action="/detalleOpcionMultiple" method="post">
                                            <input type="text" name="idPregunta" hidden
                                                   value=<%= preguntas[i].idPregunta %>>
                                            <input type="text" name="materia" hidden value=<%= asignatura %>>
                                            <br>
                                            <br>
                                            <button type="submit" class="btn btn-info" style="margin-bottom:10px"><i
                                                        class="fas fa-info-circle"></i> Ver Detalles
                                            </button>
                                        </form>
                                        <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>
<script>
    function llenarDatos(idCanvas, correctos, incorrectos, num) {
        var ctx = document.getElementById(idCanvas).getContext('2d');
        var myHorizontalBar = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [''],
                datasets: [{
                    label: 'Correctas',
                    backgroundColor: "rgba(46, 205, 113, 0.5)",
                    borderColor: "rgba(0, 255, 100)",
                    borderWidth: 1,
                    data: [correctos]
                }, {
                    label: 'Incorrectas',
                    backgroundColor: "rgba(255, 0, 0, 0.5)",
                    borderColor: "rgba(255, 0, 0)",
                    borderWidth: 1,
                    data: [incorrectos]
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            beginAtZero: true
                        },
                        gridLines: {
                            offsetGridLines: true
                        }
                    }]
                },
                elements: {
                    rectangle: {
                        borderWidth: 2,
                    }
                },
                responsive: true,
                legend: {
                    position: 'right',
                },
                title: {
                    display: true,
                    text: 'Número de respuestas'
                }
            }

        })
    }

    window.onload = function () {
        for (let i = 0; i < document.getElementById("numPreguntas").value; i++) {
            document.getElementById("myChart" + (i + 1)).click();
        }

    }
</script>
</body>
</html>