<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <% include ../../parciales/head %>
    <title>Preguntas Opción Múltiple</title>
</head>
<body>
<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoFacilitador">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/ingresoFacilitador">Temáticas</a></li>
    </ol>
</nav>
<% var faciles = 0, medias = 0, dificiles = 0;
for (var i = 0; i < dificultades.length; i++) {
    switch (dificultades[i]) {
        case "Fácil":
            faciles++;
            break;
        case "Medio":
            medias++;
            break;
        case "Difícil":
            dificiles++;
            break;
    }
} %>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="row h-100">
                <div class="col-12 collapse d-md-flex bg-light h-100" id="sidebar">
                    <ul class="nav flex-column flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle collapsed" href="/ingresoFacilitador"
                               data-toggle="collapse" data-target="#submenu1"><i class="fas fa-chalkboard-teacher"></i>
                                Facilitador</a>
                            <div class="collapse show" id="submenu1" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0" style="color: black"
                                                            href="/ingresoFacilitador"><i class="fas fa-home"></i>
                                            Inicio Facilitador</a></li>
                                    <li class="nav-item"><a class="nav-link py-0" href="/estadisticas"><i
                                                    class="fas fa-chart-bar"></i> Estadísticas</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  dropdown-toggle collapsed" href="/ingresoParticipante"
                               data-toggle="collapse" data-target="#submenu2"><i class="fas fa-user"></i>
                                Participante</a>
                            <div class="collapse" id="submenu2" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0" href="/ingresoParticipante"><i
                                                    class="fas fa-home"></i> Inicio Participante</a></li>
                                    <li class="nav-item"><a class="nav-link py-0" href="/ingresoPartida"><i
                                                    class="fas fa-sign-in-alt"></i> Unirse a Partida</a></li>
                                </ul>
                            </div>
                        </li>
                        <li style="margin-top: 20px">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Total de preguntas</h5>
                                    <p>Preguntas fáciles: <%= faciles %></p>
                                    <p>Preguntas medias: <%= medias %></p>
                                    <p>Preguntas difíciles: <%= dificiles %></p>
                                </div>
                                <div class="card-footer text-muted">
                                    Recuerde que se necesitan al menos 5 preguntas de cada dificultad para que la
                                    materia se muestre a
                                    los
                                    participantes
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-8">
                    <h2> Preguntas Opción Múltiple de <%= materia %></h2>
                    /div>
                    <div class="col-4">
                        <a href="/ingresoFacilitador/preguntasOpcionMultiple/<%= materia %>" id="botonEliminar" class="btn btn-secondary" ><i class="fas fa-undo-alt"></i></i> Regresar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card text-white bg-dark" style="margin-top: 10px">
                            <h5 class="card-header">Agregar Pregunta</h5>
                            <div class="card-body">
                                <div class="input-group mb-2 col-md-12">
                                    <a href="/ingresoFacilitador/preguntasOpcionMultiple/<%= materia %>/ingresoOpcionMultiple/<%= materia %>"
                                       class="btn btn-info" style="margin-bottom: 10px"><i class="fas fa-plus"></i>
                                        Agregar
                                        Pregunta</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <%
                    console.log("hola1: " + nombre);
                    for(let i = 0; i < enunciadoPreguntas.length; i++) { %>
                    <div class="col-md-4">
                        <div class="card" style="margin-top: 10px">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5><%= enunciadoPreguntas[i] %></h5>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-2 col-md-12">
                                    <form action="/detalleOpcionMultiple" method="post">
                                        <input type="text" name="idPregunta" hidden value=<%= idPreguntas[i] %>>
                                        <input type="text" name="materia" hidden value=<%= materia %>>
                                        <span class="badge badge-light">Dificultad: <%= dificultades[i] %></span>
                                        <br>
                                        <button id=<%= enunciadoPreguntas[i] %> type="submit" class="btn btn-info"
                                                style="margin-bottom:10px"><i class="fas fa-info-circle"></i> Ver
                                            Detalles
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="col-md-4">
                        <div class="card" style=" border-style: dashed; margin-top: 10px; height: 180px">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6 text-center">
                                    <img src="../../static/imagenes/iconoPeque.png" height="150" width="150"
                                         alt="Card image">
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/profesor.js"></script>
    <footer>
        <% include ../../parciales/footer.ejs %>
    </footer>
</body>
</html>