<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <% include ../../parciales/head %>
    <title>Detalle Participante</title>
</head>
<body>
<div class="opaco" style="margin-bottom: 10px">
<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb opacoCard border border-white">
        <li class="breadcrumb-item"><a href="/ingresoFacilitador" class="textoBlanco" style="text-transform: uppercase">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/estadisticas" class="textoBlanco" style="text-transform: uppercase">Estadísticas</a></li>
        <li class="breadcrumb-item"><a href="/estadisticaParticipante/<%=asignatura%>" class="textoBlanco" style="text-transform: uppercase">Participantes</a></li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 opacoCard" style="margin-bottom: 20px">
            <div class="row h-100">
                <div class="col-12 collapse d-md-flex h-100" id="sidebar">
                    <ul class="nav flex-column flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle collapsed textoBlanco" href="/ingresoFacilitador"
                               data-toggle="collapse" data-target="#submenu1"><i class="fas fa-chalkboard-teacher"></i>
                                FACILITADOR</a>
                            <div class="collapse show" id="submenu1" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco "
                                                            href="/ingresoFacilitador"><i class="fas fa-home"></i>
                                            INICIO FACILITADOR</a></li>
                                    <li class="nav-item"><a class="nav-link py-0  btn-primary degradoBoton" href="/estadisticas"><i
                                                    class="fas fa-chart-bar"></i> ESTADÍSTICAS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  dropdown-toggle collapsed textoBlanco" href="/ingresoParticipante"
                               data-toggle="collapse" data-target="#submenu2"><i class="fas fa-user"></i>
                                PARTICIPANTE</a>
                            <div class="collapse show" id="submenu2" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco" href="/ingresoParticipante"><i
                                                    class="fas fa-home"></i> INICIO PARTICIPANTE </a></li>
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco" href="/ingresoPartida"><i
                                                    class="fas fa-sign-in-alt"></i> UNISE A PARTIDA</a></li>
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco" href="/intentos"><i class="fas fa-clipboard-check"></i> MIS INTENTOS</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-md-12" >
                    <h3 class="textoBlanco" style="text-transform: uppercase">Temática: <%=asignatura%></h3>
                    <h4 class="textoBlanco" >PARTICIPANTE: <%=participante%></h4>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped border border-white degradoTarjeta" style="margin-right: 15px">
                    <thead>
                    <tr>
                        <th scope="col" class="textoBlanco" style="text-transform: uppercase">Desafíos \ Nivel</th>
                        <th scope="col" class="textoBlanco" style="text-transform: uppercase">Nivel 1</th>
                        <th scope="col" class="textoBlanco" style="text-transform: uppercase">Nivel 2</th>
                        <th scope="col" class="textoBlanco" style="text-transform: uppercase">Nivel 3</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row" class="textoBlanco" style="text-transform: uppercase">Opción Múltiple</th>
                        <td class="textoBlanco">
                            Intentos: <%=opcionMultiple[0]%>
                            <br>
                            Puntaje Máximo: <%=opcionMultiple[1]%>
                        </td>
                        <td class="textoBlanco">
                            Intentos: <%=opcionMultiple[2]%>
                            <br>
                            Puntaje Máximo: <%=opcionMultiple[3]%>
                        </td>
                        <td class="textoBlanco">
                            Intentos: <%=opcionMultiple[4]%>
                            <br>
                            Puntaje Máximo: <%=opcionMultiple[5]%>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="textoBlanco" style="text-transform: uppercase">Emparejar</th>
                        <td class="textoBlanco">
                            Intentos: <%=emparejar[0]%>
                            <br>
                            Puntaje Máximo: <%=emparejar[1]%>
                        </td>
                        <td class="textoBlanco">
                            Intentos: <%=emparejar[2]%>
                            <br>
                            Puntaje Máximo: <%=emparejar[3]%>
                        </td>
                        <td class="textoBlanco">
                            Intentos: <%=emparejar[4]%>
                            <br>
                            Puntaje Máximo: <%=emparejar[5]%>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" class="textoBlanco" style="text-transform: uppercase">Voltear</th>
                        <td class="textoBlanco">
                            Intentos: <%=unirVoltear[0]%>
                            <br>
                            Puntaje Máximo: <%=unirVoltear[1]%>
                        </td>
                        <td class="textoBlanco">
                            Intentos: <%=unirVoltear[2]%>
                            <br>
                            Puntaje Máximo: <%=unirVoltear[3]%>
                        </td>
                        <td class="textoBlanco">
                            Intentos: <%=unirVoltear[4]%>
                            <br>
                            Puntaje Máximo: <%=unirVoltear[5]%>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>