<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Preguntas</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
</head>
<body>
<div class="opaco">
    <header>
        <% include ../../parciales/headerProfesor %>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb opacoCard border border-white">
            <li class="breadcrumb-item"><a href="/ingresoFacilitador" class="textoBlanco">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/estadisticas" class="textoBlanco">ESTADÍSTICAS</a></li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 opacoCard" style="margin-bottom: 20px">
                <div class="row h-100">
                    <div class="col-12 collapse d-md-flex h-100" id="sidebar">
                        <ul class="nav flex-column flex-nowrap">
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle collapsed textoBlanco" href="/ingresoFacilitador"
                                   data-toggle="collapse" data-target="#submenu1"><i
                                            class="fas fa-chalkboard-teacher"></i>
                                    FACILITADOR</a>
                                <div class="collapse show" id="submenu1" aria-expanded="false">
                                    <ul class="flex-column pl-5 nav">
                                        <li class="nav-item"><a class="nav-link py-0 textoBlanco "
                                                                href="/ingresoFacilitador"><i class="fas fa-home"></i>
                                                INICIO FACILITADOR</a></li>
                                        <li class="nav-item"><a class="nav-link py-0  btn-primary degradoBoton"
                                                                href="/estadisticas"><i
                                                        class="fas fa-chart-bar"></i> ESTADÍSTICAS</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  dropdown-toggle collapsed textoBlanco" href="/ingresoParticipante"
                                   data-toggle="collapse" data-target="#submenu2"><i class="fas fa-user"></i>
                                    PARTICIPANTE</a>
                                <div class="collapse show" id="submenu2" aria-expanded="false">
                                    <ul class="flex-column pl-5 nav">
                                        <li class="nav-item"><a class="nav-link py-0 textoBlanco"
                                                                href="/ingresoParticipante"><i
                                                        class="fas fa-home"></i> INICIO PARTICIPANTE </a></li>
                                        <li class="nav-item"><a class="nav-link py-0 textoBlanco"
                                                                href="/ingresoPartida"><i
                                                        class="fas fa-sign-in-alt"></i> UNISE A PARTIDA</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-8">
                        <h4 class="textoBlanco">PREGUNTAS DE LA TEMÁTICA <%= asignatura %></h4>
                    </div>
                    <div class="col-md-4 text-right " ><a href="/estadisticas"
                                                          id="botonRegresar" class="btn btn-primary degradoBoton"><i
                                    class="fas fa-undo-alt"></i> REGRESAR</a>
                    </div>
                </div>
                <input type="text" id="numPreguntas" hidden value="<%= preguntas.length %>">
                <% if(preguntas.length == 0){ %>
                <label class="textoBlanco">** No se han cargado preguntas para está temática.</label>
                <% } for(let i = 0; i < preguntas.length; i++ ) { %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card opacoCard" style="margin-top: 10px; margin-bottom: 20px">
                            <div class="card-header bg-white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p style="color: black">PREGUNTA: <%= (i + 1) %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h5 class="textoBlanco"><%= preguntas[i].enunciado %></h5>
                                        <p class="textoBlanco">Total de veces respondida: <%= preguntas[i].resCorrecta + preguntas[i].resIncorrecta%></p>
                                        <canvas id="myChart<%= (i + 1) %>" width="1000" height="150"
                                                class="chartjs-render-monitor bg-white"
                                                style="display: block; width: 1000px; height: 150px; "
                                                onclick="llenarDatos('myChart<%= (i + 1) %>',<%= preguntas[i].resCorrecta %>, <%= preguntas[i].resIncorrecta %>, <%= i %> )"></canvas>
                                    </div>
                                    <div class="col-md-2">
                                        <% if(preguntas[i].imagenEnunciado != undefined) { %>
                                        <img id="imagen<%= (i + 1) %>" src='<%= preguntas[i].imagenEnunciado %>'
                                             width="50"
                                             height="50"/>
                                        <% } %>
                                        <% if(preguntas[i].imagen != undefined ) { %>
                                        <img id="imagen<%= (i + 1) %>" src='<%= preguntas[i].imagen %>' width="50"
                                             height="50"/>
                                        <% } %>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <% if(preguntas[i].imagen != undefined) { %>
                                        <form action="/eliminarUnirVoltear" method="post">
                                            <input type="text" name="idPregunta" hidden
                                                   value=<%= preguntas[i].idPregunta %>>
                                            <input type="text" name="materia" hidden value=<%= asignatura %>>
                                            <br>
                                            <br>
                                            <button class="btn btn-primary degradoMenu" type="submit"><i
                                                        class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                        <% } else { %>
                                        <form action="/detalleOpcionMultiple" method="post">
                                            <input type="text" name="idPregunta" hidden
                                                   value=<%= preguntas[i].idPregunta %>>
                                            <input type="text" name="materia" hidden value=<%= asignatura %>>
                                            <br>
                                            <br>
                                            <button type="submit" class="btn btn-primary degradoBoton"
                                                    style="margin-bottom:10px"><i class="fas fa-info-circle"></i> VER DETALLES
                                            </button>
                                        </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <script>
        function llenarDatos(idCanvas, correctos, incorrectos, num) {
            var ctx = document.getElementById(idCanvas).getContext('2d');
            var myHorizontalBar = new Chart(ctx, {
                type: 'horizontalBar',
                data: {
                    labels: [''],
                    datasets: [{
                        label: 'Correctas',
                        backgroundColor: "rgba(46, 205, 113, 0.5)",
                        borderColor: "rgba(0, 255, 100)",
                        borderWidth: 2,
                        data: [correctos]
                    }, {
                        label: 'Incorrectas',
                        backgroundColor: "rgba(255, 0, 0, 0.5)",
                        borderColor: "rgba(255, 0, 0)",
                        borderWidth: 2,
                        data: [incorrectos]
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            ticks: {
                                beginAtZero: true,
                                fontColor: '#000000'
                            },
                            gridLines: {
                                offsetGridLines: true,
                                fontColor: '#000000'
                            }
                        }]
                    },
                    elements: {
                        rectangle: {
                            borderWidth: 1,
                        }
                    },
                    responsive: true,
                    legend: {
                        position: 'top',
                        labels: {
                            fontColor: 'black'
                        }
                    },
                    title: {
                        display: true,
                        text: 'NÚMERO DE RESPUESTAS',
                        fontColor: 'black'
                    }
                }
            })
        }

        window.onload = function () {
            for (let i = 0; i < document.getElementById("numPreguntas").value; i++) {
                document.getElementById("myChart" + (i + 1)).click();
            }

        }
    </script>
    <footer>
        <% include ../../parciales/footer.ejs %>
    </footer>
</div>
</body>
</html>