<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head%>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Preguntas Opción Múltiple</title>
</head>
<body>
<div class="opaco">
<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb opacoCard border border-white">
        <li class="breadcrumb-item"><a href="/ingresoFacilitador" class="textoBlanco">INICIO</a></li>
        <li class="breadcrumb-item"><a href="/ingresoFacilitador" class="textoBlanco">TEMÁTICAS</a></li>
    </ol>
</nav>
<% var faciles = 0, medias = 0, dificiles = 0;
for (var i = 0; i < dificultades.length; i++) {
    switch (dificultades[i]) {
        case "Fácil":
            faciles++;
            break;
        case "Medio":
            medias++;
            break;
        case "Difícil":
            dificiles++;
            break;
    }
} %>
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-2 opacoCard" style="margin-bottom: 20px">
            <div class="row h-100">
                <div class="col-12 collapse d-md-flex h-100" id="sidebar">
                    <ul class="nav flex-column flex-nowrap">
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle collapsed textoBlanco" href="/ingresoFacilitador"
                               data-toggle="collapse" data-target="#submenu1"><i class="fas fa-chalkboard-teacher"></i>
                                FACILITADOR</a>
                            <div class="collapse show" id="submenu1" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0 btn-primary degradoBoton"
                                                            href="/ingresoFacilitador"><i class="fas fa-home"></i>
                                            INICIO FACILITADOR</a></li>
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco" href="/estadisticas"><i
                                                    class="fas fa-chart-bar"></i> ESTADÍSTICAS</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  dropdown-toggle collapsed textoBlanco" href="/ingresoParticipante"
                               data-toggle="collapse" data-target="#submenu2"><i class="fas fa-user"></i>
                                PARTICIPANTE</a>
                            <div class="collapse show" id="submenu2" aria-expanded="false">
                                <ul class="flex-column pl-5 nav">
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco" href="/ingresoParticipante"><i
                                                    class="fas fa-home"></i> INICIO PARTICIPANTE </a></li>
                                    <li class="nav-item"><a class="nav-link py-0 textoBlanco" href="/ingresoPartida"><i
                                                    class="fas fa-sign-in-alt"></i> UNISE A PARTIDA</a></li>
                                </ul>
                            </div>
                        </li>
                        <li style="margin-top: 20px">
                            <div class="card opacoCard">
                                <div class="card-body">
                                    <p class="card-title textoBlanco">TOTAL DE PREGUNTAS</p>
                                    <p class="textoBlanco">Preguntas fáciles: <%= faciles %></p>
                                    <p class="textoBlanco">Preguntas medias: <%= medias %></p>
                                    <p class="textoBlanco">Preguntas difíciles: <%= dificiles %></p>
                                </div>
                                <div class="card-footer " style="border-color: white">
                                    <p class="textoBlanco">Recuerde que se necesitan al menos 5 preguntas de cada dificultad para que la
                                        temática se muestre a
                                        los
                                        participantes</p>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-8">
                    <h4 class="textoBlanco"> PREGUNTAS DE OPCIÓN MÚLTIPLE DE <%= materia %></h4>
                </div>
                <div class="col-4 text-right">
                    <a href="/ingresoFacilitador" id="botonRegresar"
                       class="btn btn-primary degradoBoton"><i class="fas fa-undo-alt"></i></i> Regresar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card opacoCard" style="margin-top: 10px height: 150px">
                        <p class="card-header bg-white" style="color: black">AGREGAR PREGUNTA</p>
                        <div class="card-body">
                            <div class="input-group mb-2 col-md-12">
                                <a href="/preguntasOpcionMultiple/ingresoOpcionMultiple/<%= materia %>"
                                   class="btn btn-primary degradoBoton" style="margin-bottom: 10px"><i class="fas fa-plus"></i>
                                    Agregar Pregunta</a>
                            </div>

                        </div>
                    </div>
                </div>
                <%for(let i = 0; i < enunciadoPreguntas.length; i++) { %>
                    <div class="col-md-4">
                        <div class="card opacoCard" style="margin-top: 10px">
                            <div class="card-header bg-white" style="color: black">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="textoUnir">Enunciado: <%= enunciadoPreguntas[i] %></p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="input-group mb-2 col-md-12">
                                    <form action="/detalleOpcionMultiple" method="post">
                                        <input type="text" name="idPregunta" hidden value=<%= idPreguntas[i] %>>
                                        <input type="text" name="materia" hidden value="<%= materia %>">
                                        <span class="badge badge-light">Dificultad: <%= dificultades[i] %></span>
                                        <br>
                                        <button id=<%= enunciadoPreguntas[i] %> type="submit" class="btn btn-primary degradoBoton"
                                                style="margin-bottom:10px"><i class="fas fa-info-circle"></i> Ver
                                            Detalles
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
                <div class="col-md-4">
                    <div class="card opacoCard" style=" border-style: dashed; margin-top: 10px; height: 150px">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6 text-center">
                                <a href="/preguntasOpcionMultiple/ingresoOpcionMultiple/<%= materia %>">
                                <img src="../../static/imagenes/iconoMas1.png" height="120" width="120"
                                     alt="Card image" style="margin: 10px">
                                </a>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/profesor.js"></script>
<footer>
    <% include ../../parciales/footer.ejs %>
</footer>
</div>
</body>
</html>