<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Title</title>
</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoProfesor">Inicio</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Materias</h2>
        </div>

    </div>
    <div class="row">
        <div class="card-columns">
            <div class="card text-white bg-dark mb-3" style="height: 285px">
                <h5 class="card-header">Agregar Materia</h5>
                <div class="card-body">
                    <form action="/ingresoMateria" method="post">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fas fa-book"></i></div>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre de la materia"
                                   name="nombreMateria">
                        </div>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i id="iconoTipo" class="fas fa-unlock"></i></div>
                            </div>
                            <select id="tipo" name="tipo" class="form-control" onchange="cambiarIcono()">
                                <option value="publica">Pública</option>
                                <option value="privada">Privada</option>
                            </select>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="input-group mb-2 col-md-8">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-plus"></i></div>
                                </div>
                                <input type="submit" class="btn btn-primary"
                                       value="Agregar Materia">
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </form>

                </div>
            </div>
            <%
            for(var i = 0; i < materias.length; i++) {
            console.log(materias[i])%>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-8">
                                <h5><%= materias[i].nombre %></h5>
                            </div>
                            <div class="col-md-2">
                                <form action="/cambiarTipoMateria" method="post">
                                    <input type="text" name="materia" value="<%=materias[i].nombre%>" hidden>
                                <% if(materias[i].tipo == "privada")
                                {
                                %>
                                <button class="btn btn-default" type="submit" id="boton<%=materias[i].nombre%>"><i class="fas fa-lock"></i></button>
                                <%
                                }
                                else
                                { %>
                                <button class="btn btn-default" type="submit" id="boton<%=materias[i].nombre%>"><i class="fas fa-unlock"></i></button>
                                <%
                                } %>
                                </form>
                            </div>
                            <div class="col-md-2">
                                <form action="/eliminarMateria" method="post">
                                    <input type="text" name="materia" value="<%=materias[i].nombre%>" hidden>
                                    <button class="btn btn-default" type="button"><i class="fas fa-trash-alt" onclick="eliminarMateria('<%=materias[i].nombre%>')"></i></button>
                                    <button id="botonEliminar<%=materias[i].nombre%>" type="submit" hidden></button>

                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-10">
                        <a href="/ingresoProfesor/preguntasOpcionMultiple/<%= materias[i].nombre%>" class="btn btn-primary"
                           style="margin-bottom: 10px" id=<%= materias[i] %>><i class="far fa-list-alt"></i> Preguntas
                            Opción Multiple</a>
                            </div>
                            <div class="col-md-2">
                              <a class="btn btn-primary" style="margin-bottom: 10px; color:white"><%= materias[i].numOpcionMultiple%></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                        <a href="/ingresoProfesor/preguntasUnirVoltear/<%= materias[i].nombre%>" class="btn btn-info"
                           style="margin-bottom: 10px"><i class="fas fa-th"></i> Preguntas Unir Voltear</a>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-info" style="margin-bottom: 10px; color:white"><%= materias[i].numUnirVoltear%></a>
                            </div>
                        </div>
                        <a href="/ingresoProfesor/creacionPartida/<%= materias[i].nombre%>" class="btn btn-primary"
                           style="margin-bottom: 10px"><i class="fas fa-plus"></i> Crear Partidas</a>
                        <br>
                        <a href="#" class="btn btn-success"> <i class="fas fa-chart-bar"></i> Estadísticas</a>
                    </div>
                </div>
            <% } %>
            <div class="card text-center" style="width:364.66px; height:287px; background: url('../../static/imagenes/iconoMas.png') no-repeat center ;" >
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/profesor.js"></script>
<footer>
    <% include ../parciales/footer.ejs %>
</footer>
</body>
</html>