<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <title>Title</title>
</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoProfesor">Inicio</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h2>Materias</h2>
        </div>

    </div>
        <div class="row">
    <div class="card-columns">
        <%
        for(var i = 0; i<materias.length; i++) {%>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <%=materias[i]%>
                </h5>
                <a href="/ingresoProfesor/preguntasOpcionMultiple/<%=materias[i]%>" class="btn btn-primary" style="margin-bottom: 10px" id=<%=materias[i]%>>Preguntas Opción Multiple</a>
                <a href= "/ingresoProfesor/preguntasUnirVoltear/<%=materias[i]%>" class="btn btn-primary" style="margin-bottom: 10px">Preguntas Unir Voltear</a>
                <a href="/ingresoProfesor/creacionPartida/<%=materias[i]%>" class="btn btn-info" style="margin-bottom: 10px">Crear Partidas</a>
                <br>
                <a href="#" class="btn btn-success">Estadísticas</a>
            </div>
        </div>
        <%  }%>
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <form action="/ingresoMateria" method="post">
                <h5 class="card-title">Agregar Materia</h5>
                <input type="text" class="form-control"  placeholder="Nombre de la materia" name="nombreMateria" style="margin-bottom: 10px">
                <input type="submit" class="btn btn-primary" style="margin-bottom: 10px" value="Agregar Materia">
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/profesor.js"></script>
<footer>
    <% include ../parciales/footer.ejs %>
</footer>
</body>
</html>