<!DOCTYPE html>
<html lang="en" xmlns:padding-l="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <title>Creacion de partidas</title>
    <% include ../parciales/head %>

</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoProfesor">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/creacionPartida">Crear Partida</a></li>
    </ol>
</nav>

<div class="container">
    <input type="text" hidden id="usuario" value="<%=usuario%>">
    <input type="text" hidden id="materia" value="<%=materia%>">
    <input type="text" hidden id="numeroEquipos" value="<%=numeroEquipos%>">

    <%for(var i=0; i< numeroEquipos; i++){%>
    <input type="text" hidden id="nombreEquipo<%=i%>" value="<%=informacionJugadores[i].nombreEquipo%>">
    <input type="text" hidden id="imagenEquipo<%=i%>" value="<%=informacionJugadores[i].imagenEquipo%>">
    <%}%>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-12">
                    <img class="rounded mx-auto d-block"
                         src="https://cem.epn.edu.ec/imagenes/logos_institucionales/big_jpg/BUHO_ABSTRACCION_EPN_big.jpg"
                         height="100" width="100">
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <form id="login-form" action="/tablero" method="post" role="form" style="display: block;">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="bg-dark text-white rounded ">
                                    <div class="container ">
                                        <h1 class="text-center font-weight-bold"><%= idPartida %></h1>
                                        <input type="text" hidden name="idPartida" id="idPartida" value="<%= idPartida %>">
                                        <input type="text" hidden name="rol" id="rol" value="<%=rol%>">
                                        <input type="text" hidden name="nombreEquipo" id="nombreEquipo">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-success" onclick="unirPartida()">Empezar Partida</button>
                                <button id="botonIniciar" type="submit" class="btn btn-success" hidden></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>

    </div>
    <br>
    <div><label class="font-weight-bold">Jugadores Conectados</label></div>
    <div class="row border border-info rounded">
        <div class="col-sm-3" id="jugadoresConectados" style="padding:10px">
        </div>
        </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="static/js/lobby.js"></script>
</body>
</html>