<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <% include ../parciales/head %>
    <title>Preguntas de Opción Múltiple</title>
</head>
<body>
<header>
    <% include ../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoFacilitador">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/ingresoFacilitador/">Materias</a></li>
        <li class="breadcrumb-item"><a href="/ingresoFacilitador/preguntasOpcionMultiple/<%= materia %>">Preguntas</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <h2>Ingreso de Pregunta Opción Múltiple </h2>
    </div>
    <form action="/ingresoFacilitador/preguntasOpcionMultiple" method="post" onmouseover="verificarBotonGuardar()">
        <div class="form-row">
            <input type="text" name="materia" value="<%= materia %>" hidden>
            <div class="form-group col-md-6 mb-3">
                <label for="enunciado">Enunciado:</label>
                <input type="text" class="form-control" id="enunciado" required
                       placeholder="Ingrese el enunciado de la pregunta" name="enunciado">
            </div>
            <div class="form-group col-md-4 mb-3">
               <label for="botonArchivoEnunciado">Cargar imagen (opcional):</label>
                <input type="file" class="btn btn-default btn-file" id="botonArchivoEnunciado" value="uploadEnunciado"
                       accept="image/*"
                       onchange="mostrarVistaPreviaImagen(event, 'imagenCargadaEnunciado'), encodeImageFileAsURL(this)">
                <input type="text" hidden id="imagenEnunciado" name="imagenEnunciado">
            </div>
            <div class="form-group col-md-2">
                <br>
                <img id="imagenCargadaEnunciado" width="50" height="50"/>
            </div>

        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="soloTexto">Seleccione el tipo de respuesta:</label>
                <button type="button" id="soloTexto" class="btn btn-outline-primary" onclick="mostrarRespuestas(1)">Solo texto</button>
                <button type="button" id="soloImagenes" class="btn btn-outline-primary" onclick="mostrarRespuestas(2)">Solo imagenes</button>
            </div>
        </div>
        <div class="form-row" id="divRespuestasTexto" hidden>
            <% for (var i = 1 ; i < 5 ; i++) { %>
            <div class="form-group col-md-6">
                <label for="res<%= i %>">Respuesta <%= i %>:</label>
                <input type="text" class="form-control " id="res<%= i %>" placeholder="Ingrese la respuesta <%= i %>"
                       name="res<%= i %>">
            </div>
            <% } %>
        </div>
        <div class="form-row" id="divRespuestasImagenes" hidden>
            <% for (var i = 1 ; i < 5 ; i++) { %>
            <div class="form-group col-md-4">
                <label for="botonArchivoRes<%= i %>">Respuesta <%= i %>:</label>
                <input type="file" class="form-control" id="botonArchivoRes<%= i %>"
                       value="uploadRes<%= i %>" accept="image/*"
                       onchange="mostrarVistaPreviaImagen(event, 'imagenCargadaRespuesta<%= i %>', encodeImageFileAsURL(this))">
                <input type="text" hidden id="imagenRes<%= i %>" name="imagenRes<%= i %>">
            </div>
            <div class="form-group col-md-2">
                <br>
                <img id="imagenCargadaRespuesta<%= i %>" width="50" height="50"/>
            </div>
            <% } %>
        </div>
        <div class="form-row" id="divRespuestas" hidden>
            <div class="form-group col-md-6">
                <label for="dificultad">Dificultad:</label>
                <select id="dificultad" name="dificultad" required class="form-control">
                    <option value="Fácil">Fácil</option>
                    <option value="Medio">Medio</option>
                    <option value="Difícil">Difícil</option>
                </select>
            </div>

            <div class="form-group col-md-6">
                <label for="resCorrecta">Respuesta correcta:</label>
                <select id="resCorrecta" name="respuestaCorrecta" class="form-control">
                    <option value="res1">Respuesta 1</option>
                    <option value="res2">Respuesta 2</option>
                    <option value="res3">Respuesta 3</option>
                    <option value="res4">Respuesta 4</option>
                </select>
            </div>
            <div class="form-group col-md-12 text-center">
                <button type="submit" id="botonGuardar" class="btn btn-success" disabled>Guardar</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/static/js/preguntasOpcionMultiple.js"></script>
</body>
</html>