<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <% include ../parciales/head %>

    <title>Desafío Opción Múltiple</title>
</head>
<body>
<header>
    <% include ../parciales/headerEstudiante %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoParticipante">Inicio</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <h1 id="tipoJuego">Opción Múltiple</h1>
    </div>
    <div class="row">
        <form action="/validarRespuestaOpcionMultiple" method="post">
            <div class="col-md-7">
                <% for(var i = 0; i < preguntas.length; i++) { %>
                <input type="text" hidden name="idPregunta" value="<%= preguntas[i]._id %>">
                <div class="row border border-info rounded" style="margin-bottom: 10px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10">
                                <h4 id="enunciado<%= i %>"><%= preguntas[i].enunciado %></h4>
                            </div>
                            <div class="col-md-2">
                                <% if(preguntas[i].imagenEnunciado) { %>
                                    <img id="imagenEnunciado<%= i %>" src="<%= preguntas[i].imagenEnunciado %>"
                                         class="img-rounded"
                                         height="50" width="50">
                                <% } %>
                            </div>
                        </div>
                        <% if(preguntas[i].imagenRes1) { %>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <button type="button" id="botonImagen<%= i %>Res1" class="btn btn-light"
                                            style="margin-bottom: 10px">
                                        <img id="imagenEnunciado<%= i %>"
                                             src="<%= preguntas[i].imagenRes1 %>"
                                             class="img-rounded" height="50" width="50"></button>

                                </div>
                                <div class="col-md-6 text-center">
                                    <button type="button" id="botonImagen<%= i %>Res2" class="btn btn-light"
                                            style="margin-bottom: 10px">
                                        <img id="imagenEnunciado<%= i %>"
                                             src="<%= preguntas[i].imagenRes2 %>"
                                             class="img-rounded" height="50" width="50"></button>

                                </div>
                                <div class="col-md-6 text-center">
                                    <button type="button" id="botonImagen<%= i %>Res3" class="btn btn-light"
                                            style="margin-bottom: 10px">
                                        <img id="imagenEnunciado<%= i %>"
                                             src="<%= preguntas[i].imagenRes3 %>"
                                             class="img-rounded" height="50" width="50"></button>

                                </div>
                                <div class="col-md-6 text-center">
                                    <button type="button" id="botonImagen<%= i %>Res4" class="btn btn-light"
                                            style="margin-bottom: 10px">
                                        <img id="imagenEnunciado<%= i %>"
                                             src="<%= preguntas[i].imagenRes4 %>"
                                             class="img-rounded" height="50" width="50"></button>

                                </div>
                            </div>
                        <% } else { %>
                            <div class="row">
                                <div class="col-md-12">
                                    <button  type="button"id="botonTexto<%= i %>Res1" class="btn btn-light btn-block"
                                            style="margin-bottom: 10px"><%= preguntas[i].res1 %>
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" id="botonTexto<%= i %>Res2" class="btn btn-light btn-block"
                                            style="margin-bottom: 10px"><%= preguntas[i].res2 %>
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" id="botonTexto<%= i %>Res3" class="btn btn-light btn-block"
                                            style="margin-bottom: 10px"><%= preguntas[i].res3 %>
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" id="botonTexto<%= i %>Res4" class="btn btn-light btn-block"
                                            style="margin-bottom: 10px"><%= preguntas[i].res4 %>
                                    </button>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>

                <% } %>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-7 text-center">
                <button type="submit" class="btn btn-primary">Enviar respuestas</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>