<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
    <% include ../parciales/head %>

    <title>Title</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<header>
    <% include ../parciales/headerEstudiante %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoParticipante">Inicio</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <h2><span class="badge badge-secondary" style="margin-top: 25%">Opción Múltiple</span></h2>
                </div>
                <% for(var i = 0; i < 3; i++)
                {
                %>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <% var puntaje = 5 %>
                                    <% var numIntentos = 3 %>
                                    Desafío <%= i+1 %>
                                    <% for(var j = 0; j < puntaje; j++){
                                    %>
                                        <i class="fas fa-star fa-sm fa-spin " style="color:gold"></i>
                                    <% } %>

                                </h5>
                                <form action="/mostrarOpcionMultiple" method="post">
                                    <input type="text" name="facilitador" value="<%= facilitador %>" hidden>
                                    <input type="text" name="materia" value="<%= materia %>" hidden>
                                    <input type="text" name="contadorPreguntas" value=-1 hidden>
                                 <%switch (i)
                                 {
                                     case 0:%>
                                    <input type="text" name="dificultad" value="Fácil" hidden>
                                    <%
                                        break;
                                    case 1:%>
                                    <input type="text" name="dificultad" value="Medio" hidden>
                                    <%
                                        break;
                                    case 2:%>
                                    <input type="text" name="dificultad" value="Difícil" hidden>
                                    <% break;
                                 }%>
                                    <button type="submit" class="btn btn-primary">Jugar</button>
                                </form>
                                <p class="card-text">Puntaje: <%= puntaje %></p>
                                <p class="card-text">Número de intentos: <%= numIntentos %></p>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h2><span class="badge badge-secondary" style="margin-top: 25%">Emparejar</span></h2>
                </div>
                <% for(var i = 0; i < 3; i++)
                {
                %>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Desafío <%= i+1 %>
                                <% for(var j = 0; j < puntaje; j++){
                                %>
                                    <i class="fas fa-star fa-sm fa-spin " style="color:gold"></i>
                                <% } %>
                            </h5>

                            <form action="/mostrarEmparejar" method="post">
                                <input type="text" name="facilitador" value="<%= facilitador %>" hidden>
                                <input type="text" name="materia" value="<%= materia %>" hidden>
                                <%switch (i)
                                {
                                case 0:%>
                                <input type="text" name="dificultad" value="Fácil" hidden>
                                <%
                                    break;
                                case 1:%>
                                <input type="text" name="dificultad" value="Medio" hidden>
                                <%
                                    break;
                                case 2:%>
                                <input type="text" name="dificultad" value="Difícil" hidden>
                                <% break;
                                }%>
                                <button type="submit" class="btn btn-primary">Jugar</button>
                            </form>
                            <p class="card-text">Puntaje: <%= puntaje %></p>
                            <p class="card-text">Número de intentos: <%= numIntentos %></p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <h2><span class="badge badge-secondary" style="margin-top: 25%">Unir Voltear</span></h2>
                </div>
                <% for(var i = 0; i < 3; i++)
                {
                %>
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                Desafío <%= i+1 %>
                                <% for(var j = 0; j < puntaje; j++){
                                %>
                                    <i class="fas fa-star fa-sm fa-spin " style="color:gold"></i>
                                <% } %>
                            </h5>
                            <form action="/mostrarUnirVoltear" method="post">
                                <input type="text" name="facilitador" value="<%= facilitador %>" hidden>
                                <input type="text" name="materia" value="<%= materia %>" hidden>
                                <%switch (i)
                                {
                                case 0:%>
                                <input type="text" name="dificultad" value="Fácil" hidden>
                                <%
                                    break;
                                case 1:%>
                                <input type="text" name="dificultad" value="Medio" hidden>
                                <%
                                    break;
                                case 2:%>
                                <input type="text" name="dificultad" value="Difícil" hidden>
                                <% break;
                                }%>
                                <button type="submit" class="btn btn-primary">Jugar</button>
                            </form>
                            <p class="card-text">Puntaje: <%= puntaje %></p>
                            <p class="card-text">Número de intentos: <%= numIntentos %></p>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

</body>
</html>