<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html"/>
    <% include ../parciales/head %>

    <title>Desafío Emparejar</title>
</head>
<body>
<header>
    <% include ../parciales/headerEstudiante %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ingresoParticipante">Inicio</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 id="tipoJuego">Reto de Emparejar</h1>
        </div>

        <div class="col-md-3"></div>
    </div>
    <div id="unir" class="row" onmouseover="verificarCompletoUnir()">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <% for(var i = 0; i < preguntas.length;i++)
            { %>
                <div class="row unir" style="margin-bottom: 10px">
                    <div class="col-md-6">
                        <button value="<%=  preguntas[i].idPregunta %>" class="btn btn-outline-secondary" id="botonImagenAUnir<%= (i + 1) %>" onclick="obtenerId(this);">
                            <img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
                                 height="50" width="50">
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button id="textoAUnir<%= (i + 1) %>" class="btn btn-outline-secondary btn-block" disabled
                                value="<%= textoDesordenado[i]%>" onclick="obtenerId(this);"><%= textoDesordenado[i]%>
                        </button>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="col-md-3"></div>
    </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <button id="reiniciarUnir" type="button" class="btn btn-info" onclick="reiniciarUnir();">Reiniciar
                    </button>
                </div>
                <div class="col-md-3 text-center">
                    <form action="/resultadosEmparejar" method="post">
                    <input type="text" name="materia" hidden value="<%= materia %>">
                    <input type="text" id="respuestas" name="respuestas" hidden>
                    <input type="text" id="idIntento" name="idIntento" value="<%=idIntento%>"hidden>
                    <input type="text" id="facilitador" name="facilitador" value="<%=facilitador%>"hidden>
                        <%for(var j=0; j< preguntas.length; j++)
                        {%>
                        <input type="text" id="pregunta<%=j+1%>" name="pregunta<%=j+1%>" hidden value="<%=preguntas[j]%>">
                        <%}%>
                    <button class="btn" style="background: darkcyan; color: white" id="enviarUnir" type="submit" disabled>Verificar respuesta</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
</body>
<script>
    var respuestaUnir = [];
    var respuestaUnirId = [];
    var imagenUnirId = ['botonImagenAUnir1','botonImagenAUnir2','botonImagenAUnir3','botonImagenAUnir4','botonImagenAUnir5'];
    var textoUnirId = ['textoAUnir1','textoAUnir2','textoAUnir3','textoAUnir4','textoAUnir5'];
    var imagenUnir = [];
    var textoUnir = [];
    for(var i=1; i<6;i++)
    {
        imagenUnir.push(doc.getElementById("botonImagenAUnir"+i).value);
        textoUnir.push(doc.getElementById("textoAUnir"+i).value);
    }
    function obtenerId(e) {

        var id = e.id;
        switch (true){

            case respuestaUnir.length < 2:
                document.getElementById(id).style.border = "thick solid green";
                break;
            case respuestaUnir.length < 4:
                document.getElementById(id).style.border = "thick solid red";
                break;
            case respuestaUnir.length < 6:
                document.getElementById(id).style.border = "thick solid black";
                break;
            case respuestaUnir.length < 8:
                document.getElementById(id).style.border = "thick solid yellow";
                break;
            case respuestaUnir.length < 10:
                document.getElementById(id).style.border = "thick solid blue";
                break;
        }
        respuestaUnir.push(document.getElementById(id).value);
        respuestaUnirId.push(id);

        if(imagenUnirId.indexOf(id) >= 0) {
            for(var i = 0; i<imagenUnirId.length; i++){
                document.getElementById(imagenUnirId[i]).setAttribute("disabled","");
            }
            for(var j = 0 ; j < textoUnirId.length; j++){
                if(respuestaUnirId.indexOf(textoUnirId[j])>0)
                {
                    document.getElementById(textoUnirId[j]).setAttribute("disabled","");
                }else {
                    document.getElementById(textoUnirId[j]).removeAttribute("disabled");
                }
            }
        } else if (textoUnirId.indexOf(id) >=0){
            for(var i = 0; i<textoUnirId.length; i++) {
                document.getElementById(textoUnirId[i]).setAttribute("disabled", "");
            }
            for(var j = 0 ; j < imagenUnirId.length; j++){
                if(respuestaUnirId.indexOf(imagenUnir[j])>=0)
                {
                    document.getElementById(imagenUnirId[j]).setAttribute("disabled","");
                }else {
                    document.getElementById(imagenUnirId[j]).removeAttribute("disabled");
                }
            }
        }
    }

    function verificarCompletoUnir() {
        if(respuestaUnir.length != 10) {
            document.getElementById("enviarUnir").setAttribute("disabled","");
        }
        else {
            document.getElementById("enviarUnir").removeAttribute("disabled");
            document.getElementById("respuestas").value = respuestaUnir;
        }
    }

    function reiniciarUnir() {
        for (var i =0; i < respuestaUnirId.length; i++){
            document.getElementById(respuestaUnirId[i]).style.border = "";
            if(imagenUnirId.indexOf(respuestaUnirId[i])>=0) {
                document.getElementById(respuestaUnirId[i]).removeAttribute("disabled");
            }
        }

        for(var i = respuestaUnirId.length; i > 0 ; i--) {
            respuestaUnir.pop();
            respuestaUnirId.pop();
        }
    }


</script>
</html>
