<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Mis intentos</title>
</head>
<body>
<div class="opaco">
    <header>
        <% include ../../parciales/headerProfesor %>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb opacoCard border border-white">
            <li class="breadcrumb-item"><a href="/ingresoParticipante" class="textoBlanco">INICIO</a></li>
            <li class="breadcrumb-item"><a href="/intentos" class="textoBlanco">MIS INTENTOS</a></li>        
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 opacoCard" style="margin-bottom: 20px">
                <div class="row h-100">
                    <div class="col-12 collapse d-md-flex h-100" id="sidebar">
                        <ul class="nav flex-column flex-nowrap">
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle collapsed textoBlanco" href="/ingresoFacilitador"
                                   data-toggle="collapse" data-target="#submenu1"><i
                                            class="fas fa-chalkboard-teacher"></i>
                                    FACILITADOR</a>
                                <div class="collapse show" id="submenu1" aria-expanded="false">
                                    <ul class="flex-column pl-5 nav">
                                        <li class="nav-item"><a class="nav-link py-0 textoBlanco "
                                                                href="/ingresoFacilitador"><i class="fas fa-home"></i>
                                                INICIO FACILITADOR</a></li>
                                        <li class="nav-item"><a class="nav-link py-0  textoBlanco "
                                                                href="/estadisticas"><i
                                                        class="fas fa-chart-bar"></i> ESTADÍSTICAS</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  dropdown-toggle collapsed textoBlanco" href="/ingresoParticipante"
                                   data-toggle="collapse" data-target="#submenu2"><i class="fas fa-user"></i>
                                    PARTICIPANTE</a>
                                <div class="collapse show" id="submenu2" aria-expanded="false">
                                    <ul class="flex-column pl-5 nav">
                                        <li class="nav-item"><a class="nav-link py-0 textoBlanco"
                                                                href="/ingresoParticipante"><i
                                                        class="fas fa-home"></i> INICIO PARTICIPANTE </a></li>
                                        <li class="nav-item"><a class="nav-link py-0 textoBlanco"
                                                                href="/ingresoPartida"><i
                                                        class="fas fa-sign-in-alt"></i> UNISE A PARTIDA</a></li>
										<li class="nav-item"><a class="nav-link py-0 btn-primary degradoBoton"
                                                                href="/intentos"><i
                                                        class="fas fa-sign-in-alt"></i> MIS INTENTOS</a></li>	
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="textoBlanco">INTENTO DE LA TEMÁTICA <%=tematica%> DEL FACILITADOR <%=facilitador%></h4>
                    </div>
                </div>
					<% switch (tipoDesafio) {
					case "opcionMultiple":%>
					<div class="row" style="margin-bottom: 10px">
						<div class="col-md-12 text-center">
						<h3 class="textoBlanco" style="text-transform: uppercase;">Desafío de Opción Múltiple</h3>
						</div>
						<div class="col-md-6">
						<h4 class="textoBlanco" style="text-transform: uppercase;">Puntaje obtenido: <%= puntaje %></h4>
						</div>
						<div class="col-md-6">
						<% for(var i = 0; i < puntaje; i++){ %>
							<i class="fas fa-star fa-5x fa-spin " style="color:gold"></i>
						<% } %>
						</div>
					</div>
				<% for(var i = 0; i < preguntas.length; i++){ %>
				<div class="row border border-white rounded" style="margin-bottom: 10px">
					<div class="col-md-8">
						<label ><strong class="textoBlanco" style="text-transform: uppercase;">Pregunta <%=i+1%></strong></label>
						<br>
						<label class="textoBlanco" style="text-transform: uppercase;"><%=preguntas[i].enunciado%></label>
						<br>
						<label class="textoBlanco" ><strong>Mi respuesta: </strong><%=preguntas[i].respuestaSeleccionada%></label>
					</div>
					<div class="col-md-2" >
						<% if(preguntas[i].imagenEnunciado != undefined)
						{%>
							<img src="<%=preguntas[i].imagenEnunciado%>" width="50px" height="50px" style="margin-top: 10px">
						<% }%>
					</div>
					<div class="col-md-2" >
						<% if(preguntas[i].correctoIncorrecto == 0)
						{%>
							<i class="far fa-3x fa-times-circle" style="color:red; margin-top: 10px"></i>
						<% }
						else
						{%>
								<i class="far fa-3x fa-check-circle" style="color:green; margin-top: 10px"></i>
						<%}%>
					</div>
				</div>
				<% } %>
					<%break;
					case "emparejar": %>
					<div class="row" style="margin-bottom: 10px">
						<div class="col-md-12 text-center">
							<h3 class="textoBlanco" style="text-transform: uppercase;">Desafío de Emparejar Finalizado</h3>
						</div>
						<div class="col-md-6">
							<h4 class="textoBlanco" style="text-transform: uppercase;">Puntaje obtenido: <%= puntaje %></h4>
						</div>
						<div class="col-md-6">
							<% for(let i = 0; i < puntaje; i++)
							{ %>
							<i class="fas fa-star fa-5x fa-spin " style="color:gold"></i>
							<% } %>
						</div>
					</div>
					<div class="row ">
						<div class="col-md-6" style="margin: 10px">
							<div class="row border border-white rounded">
								<h3 class="textoBlanco" style="text-transform: uppercase;" style="margin: 10px">Tus respuestas</h3>
							</div>
							<div class="row border border-white rounded" style="margin-top: 10px">
								<% for(let i = 0; i < preguntas.length; i++){ %>
									<div class="col-md-12 " style="margin: 10px">
										<div class="row">
											<div class="col-md-3">
												<button id="<%= preguntas[i].idPregunta %>" class="btn btn-outline-light disabledbutton"
													onclick="obtenerId(this);">
													<img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
													height="50" width="50">
												</button>
											</div>
										<div class="col-md-7">
											<%console.log(respuestas)
											var indice = respuestas.indexOf(preguntas[i].idPregunta);
											console.log(indice);%>
											<button id="<%= respuestas[indice + 1] %>" class="btn btn-outline-light btn-block textoBlanco disabledbutton"
											onclick="obtenerId(this);"><%= respuestas[indice + 1] %></button>
										</div>
										<div class="col-md-2">
											<% if(puntajes[i] == 0)
											{ %>
											<i class="far fa-3x fa-times-circle" style="color:red; margin-top: 10px"></i>
											<% }
											else
											{ %>
											<i class="far fa-3x fa-check-circle" style="color:green; margin-top: 10px"></i>
											<% } %>
										</div>
									</div>
								</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-5" style="margin: 10px">
							<div class="row border border-white rounded">
								<h3 class="textoBlanco" style="text-transform: uppercase;" style="margin: 10px">Respuestas correctas</h3>
							</div>
							<div class="row border border-white rounded" style="margin-top: 10px">
								<% for(let i = 0; i < preguntas.length; i++)
								{ %>
								<div class="col-md-12 " style="margin: 10px">
									<div class="row">
										<div class="col-md-6">
											<button id="<%= preguntas[i].idPregunta %>" class="btn btn-outline-light disabledbutton"
													onclick="obtenerId(this);">
												<img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
													 height="50" width="50">
											</button>
										</div>
										<div class="col-md-6">
											<button id="<%= preguntas[i].texto %>"  class="btn btn-outline-light textoUnir btn-block disabledbutton"
													onclick="obtenerId(this);"><%= preguntas[i].texto %>
											</button>
										</div>
									</div>
								</div>
								<% } %>
							</div>
						</div>
					</div>			
					<%break;
					case "unir":%>
					<div class="row" style="margin-bottom: 10px">
						<div class="col-md-12 text-center">
							<h3 class="textoBlanco" style="text-transform: uppercase;">Desafío de Unir Finalizado</h3>
						</div>
						<div class="col-md-6">
							<h4 class="textoBlanco" style="text-transform: uppercase;">Puntaje obtenido: <%= puntaje %></h4>
						</div>
						<div class="col-md-6">
							<% for(let i = 0; i < puntaje; i++)
							{ %>
							<i class="fas fa-star fa-5x fa-spin " style="color:gold"></i>
							<% } %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5" style="margin: 10px">
							<div class="row border border-white rounded">
								<h4 class="textoBlanco" style="text-transform: uppercase; margin: 10px">Pares encontrados</h4>
							</div>
							<div class="row border border-white rounded" style="margin-top: 10px; height: 550px">
								<% for(let i = 0; i < preguntas.length; i++){ %>
								<div class="col-md-12 " style="margin: 10px">
									<div class="row">
									<% if(respuestas.indexOf(preguntas[i].texto) >= 0) { %>
									<div class="col-md-4">
										<img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
											 height="50" width="50">
									</div>
									<div class="col-md-8">
										<label class="textoBlanco" style="text-transform: uppercase;"><%= preguntas[i].texto %></label>
									</div>
									<% } %>
									</div>
								</div>
								<% } %>
							</div>
						</div>
						<div class="col-md-5" style="margin: 10px">
							<div class="row border border-white rounded">
								<h4 class="textoBlanco" style="text-transform: uppercase; margin: 10px">Pares no encontrados</h4>
							</div>
							<div class="row border border-white rounded" style="margin-top: 10px ; height: 550px">
								<% for(let i = 0; i < preguntas.length; i++){ %>
								<div class="col-md-12 " style="margin: 10px">
								<div class="row unir">
									<% if(respuestas.indexOf(preguntas[i].texto) < 0) { %>
									<div class="col-md-4">
										<img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
											 height="50" width="50">
									</div>
									<div class="col-md-8">
										<label class="textoBlanco" style="text-transform: uppercase;"><%= preguntas[i].texto %></label>
									</div>
									<% } %>
								</div>
								</div>
								<% } %>
							</div>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-4"></div>
						<div class="col-md-4">
							<form action="/intentos" method="post">
								<input type="text" name="facilitador" hidden value="<%= facilitador %>">
								<input type="text" name="materia" hidden value="<%= tematica %>">
								<button class="btn btn-primary degradoBoton" type="submit"><i class="fas fa-undo-alt"></i> Regresar </button>
							</form>
						</div>
						<div class="col-md-4"></div>
					</div>		
					<% break;
					default:%>
					<%}%>				
		<div class="row text-center">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <form action="/detalleTematicaFacilitador" method="post">
                <input type="text" name="facilitador" hidden value="<%= facilitador %>">
                <input type="text" name="materia" hidden value="<%=tematica %>">
            <button  class="btn btn-primary degradoBoton" type="submit"><i class="fas fa-undo-alt"></i> Regresar </button>
            </form>
        </div>
        <div class="col-md-4"> </div>
</div>
			</div>
		</div>
	</div>
   <footer>
        <% include ../../parciales/footer.ejs %>
   </footer>
</div>
</body>
</html>