<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Resultados Partida</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="opaco" style="margin-bottom: 20px">
    <header>
        <% include ../../parciales/headerProfesor %>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb opacoCard border border-white">
            <li class="breadcrumb-item"><a href="/" class="textoBlanco">INICIO</a></li>
        </ol>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row">
                    <h3 style="text-transform: uppercase" class="textoBlanco">Resultados de la partida <%= idPartida %></h3>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" style="text-transform: uppercase" class="textoBlanco">Lugar</th>
                        <th scope="col" style="text-transform: uppercase" class="textoBlanco">Icono</th>
                        <th scope="col" style="text-transform: uppercase" class="textoBlanco">Equipo</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% for(let i = 0; i < equipos.length; i++){%>
                    <tr>
                        <td>
                            <img id="lugar<%= i %>" src="../../../static/imagenes/lugar<%= (i + 1) %>.svg"
                                 height="150" width="150">
                        </td>
                        <td>
                            <img id="lugar<%= i %>" src="../../../static/imagenes/equipo<%= (equipos[i].icono) %>.svg"
                                 height="150" width="150">
                        </td>
                        <td><h3 style="text-transform: uppercase" class="textoBlanco"><%= equipos[i].nombre %></h3>
                        </td>
                    </tr>

                    <% } %>

                    </tbody>
                </table>
                <% if (rol == "facilitador"){%>
                <div class="row ">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 text-center">
                        <form name="formulario" method="post" action="/salirPartida">
                            <input type="text" hidden name="idPartida" id="idPartida" value="<%= idPartida %>">
                            <button type="submit" class="btn btn-primary degradoBoton" id="botonFinalizacion" > <i class="fas fa-sign-out-alt"></i> Salir de la partida</button>
                        </form>
                    </div>
                    <div class="col-md-4"></div>

                </div>
                <%}else {%>
                <div class="row ">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                <a href="/" class="btn btn-primary degradoBoton">
                    <i class="far fa-list-alt"></i> Salir de la partida </a>
                </div>
                <div class="col-md-4"></div>
                </div>
                <%}%>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
	<script>
	</script>
    <footer>
        <% include ../../parciales/footer.ejs %>
    </footer>
</div>
</body>
</html>