<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Reto Emparejar</title>
</head>
<body>
<div class="opaco" style="margin-bottom: 10px">

<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb opacoCard border border-white">
        <li class="breadcrumb-item"><a href="/ingresoParticipante" class="textoBlanco" style="text-transform: uppercase;">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/ingresoParticipante" class="textoBlanco" style="text-transform: uppercase;">Temáticas</a></li>
        <li class="breadcrumb-item"><a href="/retosMateria?facilitador=<%=facilitador%>&materia=<%=materia%>" class="textoBlanco" style="text-transform: uppercase;">Desafíos</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h3 id="tipoJuego" class="textoBlanco" style="text-transform: uppercase;">Reto de Emparejar</h3>
        </div>

        <div class="col-md-3"></div>
    </div>
    <div id="unir" class="row " onmouseover="verificarCompletoUnir()">
        <div class="col-md-3"></div>
        <div class="col-md-6 border degradoTarjeta">
            <% for(var i = 0; i < preguntas.length;i++)
            { %>
                <div class="row unir" style="margin-bottom: 10px">
                    <div class="col-md-6">
                        <button value="<%=  preguntas[i].idPregunta %>" class="btn btn-outline-white" id="botonImagenAUnir<%= (i + 1) %>" onclick="obtenerId(this);">
                            <img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
                                 height="50" width="50">
                        </button>
                    </div>
                    <div class="col-md-6 ">
                        <button id="textoAUnir<%= (i + 1) %>" class="btn btn-outline-white btn-block " disabled
                                value="<%= textoDesordenado[i]%>" onclick="obtenerId(this);" > <%= textoDesordenado[i]%>
                        </button>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="col-md-3"></div>
    </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 text-center border degradoTarjeta">
                    <button id="reiniciarUnir" type="button" class="btn btn-primary degradoBoton" style="margin: 10px" onclick="reiniciarUnir();"><i class="fas fa-redo"></i> Reiniciar
                    </button>
                </div>
                <div class="col-md-3 text-center border degradoTarjeta">
                    <form action="/resultadosEmparejar" method="post">
                    <input type="text" name="materia" hidden value="<%= materia %>">
                    <input type="text" id="respuestas" name="respuestas" hidden>
                    <input type="text" id="idIntento" name="idIntento" value="<%=idIntento%>"hidden>
                    <input type="text" id="facilitador" name="facilitador" value="<%=facilitador%>"hidden>
                    <button class="btn btn-primary degradoBoton"  id="enviarUnir" type="submit" disabled style="margin: 10px"><i class="fas fa-check"></i> Verificar respuesta</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
</div>
<script src="/static/js/retosEmparejar.js"></script>
<footer>
    <% include ../../parciales/footer.ejs %>
</footer>
</body>
</html>
