<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Reto Emparejar</title>
</head>
<body>
<div class="opaco" style="margin-bottom: 10px">

<header>
    <% include ../../parciales/headerProfesor %>
</header>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb opacoCard border border-white">
        <li class="breadcrumb-item"><a href="/ingresoParticipante" class="textoBlanco" style="text-transform: uppercase;">Inicio</a></li>
        <li class="breadcrumb-item"><a href="/ingresoParticipante" class="textoBlanco" style="text-transform: uppercase;">Temáticas</a></li>
        <li class="breadcrumb-item"><a href="/retosMateria?facilitador=<%=facilitador%>&materia=<%=materia%>" class="textoBlanco" style="text-transform: uppercase;">Desafíos</a></li>
    </ol>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
            <h3 id="tipoJuego" class="textoBlanco" style="text-transform: uppercase;">Reto de Emparejar</h3>
        </div>

        <div class="col-md-3"></div>
    </div>
    <div id="unir" class="row " onmouseover="verificarCompletoUnir()">
        <div class="col-md-3"></div>
        <div class="col-md-6 border degradoTarjeta">
            <% for(var i = 0; i < preguntas.length;i++)
            { %>
                <div class="row unir" style="margin-bottom: 10px">
                    <div class="col-md-6">
                        <button value="<%=preguntas[i].idPregunta%>" class="btn btn-outline-white" id="botonImagenAUnir<%= (i + 1) %>" onclick="obtenerId(this);">
                            <img id="imagenAUnir<%= (i + 1) %>" src="<%= preguntas[i].imagen %>"
                                 height="50" width="50">
                        </button>
                    </div>
                    <div class="col-md-6 ">
                        <button id="textoAUnir<%= (i + 1) %>" class="btn btn-outline-white btn-block " disabled
                                value="<%= textoDesordenado[i]%>" onclick="obtenerId(this);" > <%= textoDesordenado[i]%>
                        </button>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="col-md-3"></div>
    </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3 text-center border degradoTarjeta">
                    <button id="reiniciarUnir" type="button" class="btn btn-primary degradoBoton" style="margin: 10px" onclick="reiniciarUnir();"><i class="fas fa-redo"></i> Reiniciar
                    </button>
                </div>
                <div class="col-md-3 text-center border degradoTarjeta">
                    <form action="/resultadosEmparejar" method="post">
                    <input type="text" name="materia" hidden value="<%= materia %>">
                    <input type="text" id="respuestas" name="respuestas" hidden>
                    <input type="text" id="idIntento" name="idIntento" value="<%=idIntento%>"hidden>
                    <input type="text" id="facilitador" name="facilitador" value="<%=facilitador%>"hidden>
                    <button class="btn btn-primary degradoBoton"  id="enviarUnir" type="submit" disabled style="margin: 10px"><i class="fas fa-check"></i> Verificar respuesta</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
</div>
<script >
    var respuestaUnir = [];
    var respuestaUnirId = [];
    var imagenUnirId = ['botonImagenAUnir1','botonImagenAUnir2','botonImagenAUnir3','botonImagenAUnir4','botonImagenAUnir5'];
    var textoUnirId = ['textoAUnir1','textoAUnir2','textoAUnir3','textoAUnir4','textoAUnir5'];

    function obtenerId(e) {
        var id = e.id;
        console.log("El id seleccionado es: "+id );
        switch (true){
            case respuestaUnirId.length < 2:
                document.getElementById(id).style.border = "thick solid green";
                break;
            case respuestaUnirId.length < 4:
                document.getElementById(id).style.border = "thick solid red";
                break;
            case respuestaUnirId.length < 6:
                document.getElementById(id).style.border = "thick solid black";
                break;
            case respuestaUnirId.length < 8:
                document.getElementById(id).style.border = "thick solid yellow";
                break;
            case respuestaUnirId.length < 10:
                document.getElementById(id).style.border = "thick solid blue";
                break;
        }
        respuestaUnir.push(document.getElementById(id).value);
        respuestaUnirId.push(id);

        if(imagenUnirId.indexOf(id) >= 0) {
            console.log("El indice mayor es "+imagenUnirId.indexOf(id) );
            for(let k = 0; k<imagenUnirId.length; k++){
                document.getElementById(imagenUnirId[k]).setAttribute("disabled","");
                console.log("Insertando disables en la imagen "+imagenUnirId[k]);
            }
            for(let j = 0 ; j < textoUnirId.length; j++){
                if(respuestaUnirId.indexOf(textoUnirId[j]) < 0){
                    document.getElementById(textoUnirId[j]).removeAttribute("disabled");
                    console.log("Removiendo disables en el texto"+textoUnirId[j]);
                }else {
                    document.getElementById(textoUnirId[j]).setAttribute("disabled","");
                    console.log("Insertando disables en el texto "+textoUnirId[j]);
                }
            }
        } else if (textoUnirId.indexOf(id) >=0){
            console.log("El indice texto mayor es "+textoUnirId.indexOf(id) );
            for(let l = 0; l<textoUnirId.length; l++) {
                document.getElementById(textoUnirId[l]).setAttribute("disabled", "");
                console.log("Insertando disables en el texto "+textoUnirId[l]);
            }
            for(let m = 0 ; m < imagenUnirId.length; m++){
                console.log("El indice "+respuestaUnirId.indexOf(imagenUnirId[m]));
                console.log(respuestaUnirId);
                if(respuestaUnirId.indexOf(imagenUnirId[m]) < 0){
                    document.getElementById(imagenUnirId[m]).removeAttribute("disabled");
                    console.log("Removiendo disables en la imagen "+imagenUnirId[m]);
                }else {
                    document.getElementById(imagenUnirId[m]).setAttribute("disabled","");
                    console.log("Insertando disables en el texto "+imagenUnirId[m]);
                }

            }
        }
    }

    function verificarCompletoUnir() {
        if(respuestaUnir.length != 10) {
            document.getElementById("enviarUnir").setAttribute("disabled","");
        }
        else {
            document.getElementById("enviarUnir").removeAttribute("disabled");
            document.getElementById("respuestas").value = respuestaUnir;
        }
    }

    function reiniciarUnir() {
        for (let n =0; n < respuestaUnirId.length; n++){
            document.getElementById(respuestaUnirId[n]).style.border = "";
            if(imagenUnirId.indexOf(respuestaUnirId[n])>=0) {
                document.getElementById(respuestaUnirId[n]).removeAttribute("disabled");
            }
        }

        for(let o = respuestaUnirId.length; o > 0 ; o--) {
            respuestaUnir.pop();
            respuestaUnirId.pop();
        }
    }
</script>
<footer>
    <% include ../../parciales/footer.ejs %>
</footer>
</body>
</html>
