<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../../parciales/head %>
    <meta http-equiv="Content-Type" content="text/html"/>
    <title>Desafío Opción Múltiple</title>
</head>
<body>
<div class="opaco" style="margin-bottom: 10px">
    <header>
        <% include ../../parciales/headerProfesor %>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb opacoCard border border-white">
            <li class="breadcrumb-item"><a href="/ingresoParticipante" class="textoBlanco"
                                           style="text-transform: uppercase;">Inicio</a></li>
            <li class="breadcrumb-item"><a href="/ingresoParticipante" class="textoBlanco"
                                           style="text-transform: uppercase;">Temáticas</a></li>
            <li class="breadcrumb-item"><a href="/retosMateria?facilitador=<%= facilitador %>&materia=<%= materia %>"
                                           class="textoBlanco" style="text-transform: uppercase;">Desafíos</a>
            </li>
        </ol>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <div class="btn-toolbar">
                            <div class="btn-group ">
                                <% for(var i = 0 ; i < 5; i++){
                                    switch (true) {
                                        case contadorPreguntas == i:
                                %>
                                <button type="button" class="btn btn-primary"><%= (i + 1) %></button>
                                <%        break;
                                    case contadorPreguntas>i:
                                        %>
                                <button type="button" class="btn btn-secondary"><%= (i + 1) %></button>
                                <%        break;
                                    case contadorPreguntas<i:
                                %>
                                <button type="button" class="btn btn-secondary"><%= (i + 1) %></button>

                                <% break;
                                    } }%>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10"><h4 class="textoBlanco" style="text-transform: uppercase;">Pregunta <%= (contadorPreguntas + 1) %> - Opción Múltiple</h4></div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-9 ">
                        <form action="/retoOpcionMultiple" method="post">
                            <% console.log( "id de la pregunta "+preguntas[contadorPreguntas]) %>
                            <input type="text" hidden name="idPregunta" value="<%= preguntas[contadorPreguntas].idPregunta %>">
                            <input type="text" hidden name="contadorPreguntas" value="<%= contadorPreguntas %>">
                            <input type="text" hidden name="materia" value="<%= materia %>">
                            <input type="text" hidden name="facilitador" value="<%= facilitador %>">
                            <input type="text" name="idIntento" value="<%= idIntento %>" hidden>
                            <input id="correctoIncorrecto" type="text" hidden name="correctoIncorrecto">
                            <input id="resSeleccionada" type="text" hidden name="resSeleccionada">
                            <div class="row border border-white rounded degradoTarjeta">
                                <div class="col-md-10">
                                    <h4 id="enunciado" class="textoBlanco"><%= preguntas[contadorPreguntas].enunciado %></h4>
                                    <input type="text" id="resCorrecta" hidden
                                           value="<%= preguntas[contadorPreguntas].respuestaCorrecta %>">
                                </div>
                                <div class="col-md-2">
                                    <% if(preguntas[contadorPreguntas].imagenEnunciado) { %>
                                    <img id="imagenEnunciado"
                                         src="<%= preguntas[contadorPreguntas].imagenEnunciado %>"
                                         class="img-rounded"
                                         height="50" width="50" style="margin: 10px">
                                    <% } %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="row border border-white rounded degradoTarjeta" style="margin-top: 10px">
                                        <% if(preguntas[contadorPreguntas].imagenRes1) { %>
                                        <div class="col-md-6 text-center">
                                            <button type="button" id="res1" class="btn btn-light" style="margin: 20px"
                                                    onclick="validarRespuesta(this)">
                                                <img id="imagenRes1"
                                                     src="<%= preguntas[contadorPreguntas].imagenRes1 %>"
                                                     class="img-rounded" height="50" width="50">
                                            </button>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <button type="button" id="res2" class="btn btn-light" style="margin: 20px"
                                                    onclick="validarRespuesta(this)">
                                                <img id="imagenRes2"
                                                     src="<%= preguntas[contadorPreguntas].imagenRes2 %>"
                                                     class="img-rounded" height="50" width="50">
                                            </button>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <button type="button" id="res3" class="btn btn-light" style="margin: 20px"
                                                    onclick="validarRespuesta(this)">
                                                <img id="imagenRes3"
                                                     src="<%= preguntas[contadorPreguntas].imagenRes3 %>"
                                                     class="img-rounded" height="50" width="50">
                                            </button>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <button type="button" id="res4" class="btn btn-light" style="margin: 20px"
                                                    onclick="validarRespuesta(this)">
                                                <img id="imagenRes4>"
                                                     src="<%= preguntas[contadorPreguntas].imagenRes4 %>"
                                                     class="img-rounded" height="50" width="50">
                                            </button>
                                        </div>
                                        <% } else { %>
                                        <div class="col-md-12">
                                            <button type="button" id="res1" class="btn btn-light btn-block"
                                                    style="margin-top: 10px; font-size:28px"
                                                    onclick="validarRespuesta(this)"><%= preguntas[contadorPreguntas].res1 %>
                                            </button>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" id="res2" class="btn btn-light btn-block"
                                                    style="margin-top: 10px; font-size:28px"
                                                    onclick="validarRespuesta(this)"><%= preguntas[contadorPreguntas].res2 %>
                                            </button>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" id="res3" class="btn btn-light btn-block"
                                                    style="margin-top: 10px; font-size:28px"
                                                    onclick="validarRespuesta(this)"><%= preguntas[contadorPreguntas].res3 %>
                                            </button>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" id="res4" class="btn btn-light btn-block"
                                                    style="margin-top: 10px; margin-bottom: 10px; font-size:28px"
                                                    onclick="validarRespuesta(this)"><%= preguntas[contadorPreguntas].res4 %>
                                            </button>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="col-md-2"></div>
                            </div>

                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button type="submit" id="botonSiguiente" class="btn btn-primary degradoBoton"
                                            disabled
                                            style="margin: 20px"><i class="fas fa-angle-right"></i> Siguiente Reto
                                    </button>
                                </div>
                                <div class="col-md-4"></div>

                            </div>
                        </form>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let respuestaSeleccionada = 0;

    function validarRespuesta(boton) {

        if (boton.id == document.getElementById("resCorrecta").value) {
            document.getElementById(boton.id).classList.remove('btn-light');
            document.getElementById(boton.id).classList.add('btn-success');
            document.getElementById('correctoIncorrecto').value = "1";
        }
        else {
            document.getElementById(boton.id).classList.remove("btn-light");
            document.getElementById(boton.id).classList.add("btn-danger");
            document.getElementById(document.getElementById("resCorrecta").value).classList.remove("btn-light");
            document.getElementById(document.getElementById("resCorrecta").value).classList.add("btn-success");
            document.getElementById('correctoIncorrecto').value = "0";
        }
        document.getElementById('resSeleccionada').value = boton.id;
        respuestaSeleccionada = 1;
        bloquearBotones();
        document.getElementById("botonSiguiente").removeAttribute("disabled")
    }

    function bloquearBotones() {
        for (let i = 1; i < 5; i++) {
            document.getElementById("res" + i).setAttribute("disabled", "");
        }
    }
</script>
</body>
</html>